---
import Testimonial from './Testimonial.astro';
---

<div class="flex">
  <div class="bg-secondary">
    <Testimonial>
      xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk
      xcljvlckxjvklcxjlvk
    </Testimonial>
  </div>
  <div class="flex flex-col">
    <div class="h-1/2 bg-primary">
      <Testimonial>
        xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk
        xcljvlckxjvklcxjlvk
      </Testimonial>
    </div>
    <div class="h-1/2 bg-tertiary">
      <Testimonial>
        xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk
        xcljvlckxjvklcxjlvk
      </Testimonial>
    </div>
  </div>
</div>
