---
import type { TExperience } from '../../../types/TTypes';
import TypographyUnderlined from '../../typography/TypographyUnderlined.astro';
import ExperienceElement from './ExperienceElement.astro';

type Props = {
  data: TExperience[];
};

const { data } = Astro.props;
---

<div class="mx-auto flex max-w-screen-md flex-col gap-10">
  <TypographyUnderlined color="primary" variant="h1" className="text-center">Experience</TypographyUnderlined>
  <ul class="list-none">
    {data.map((experience) => <ExperienceElement data={experience} />)}
  </ul>
</div>
