---
import type { TExperience } from '../../../types/TTypes';
import Typography from '../../typography/Typography.astro';
import ExperienceElement from './ExperienceElement.astro';

type Props = {
  data: TExperience[];
};

const { data } = Astro.props;
---

<section class="relative max-w-screen-md mx-auto flex flex-col gap-10">
  <Typography variant="h1" className="text-center">Experience</Typography>
  <ul class="list-none">
    {data.map((experience) => <ExperienceElement data={experience} />)}
  </ul>
</section>
