---
import ContactBadges from '../../badge/ContactBadges.astro';
import Typography from '../../typography/Typography.astro';
---

<div class="relative h-full bg-backgroundSecondary p-4 pt-8 md:p-8">
  <Typography variant="h2"> Available for selected opportunities </Typography>
  <p class="mt-20 text-lg">Have an exciting project you need help with? Send me an email or contact me on LinkedIn!</p>
  <div class="mt-20 flex flex-wrap gap-4 pb-20">
    <ContactBadges />
  </div>
  <p class="absolute bottom-0 pr-8 text-xs">
    This website was made with love on spring 2024 using Astro.build 💞. Some design elements were inspired by the
    creative work of Tamal San.
  </p>
</div>
