---
import Typography from '../../typography/Typography.astro';
---

<div class="h-full bg-backgroundSecondary p-4 md:p-8">
  <Typography variant="h2"> Available for selected opportunities </Typography>
  <p class="mt-20 text-lg">
    Have an exciting project you need help with? Send me an email or contact me via instant message!
  </p>
</div>
