---
import Testimonial from './Testimonial.astro';
---

<div class="flex h-auto">
  <div class="w-1/2 bg-secondary">
    <Testimonial
      text=" xcljvlckxjvkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckx kxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxkxjvklcxjlvk xcljvlckxjvk lcxjlvk xcljvlckxkxjvklcxjlvk xcljv lckxjvklcxjlvk xcljvlckxklcxjlvk xcljvlckxjvklcxjlvk xclkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk    xcljvlckxjvklcxjlvk"
      author="Nejaky raklek"
      position="CEO"
    />
  </div>
  <div class="flex w-1/2 flex-col">
    <div class="h-1/2 bg-primary">
      <Testimonial
        text=" xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk      xcljvlckxjvklcxjlvk"
        author="Nejaky raklek"
        position="CEO"
      />
    </div>
    <div class="h-1/2 bg-tertiary">
      <Testimonial
        text="xcljvlckxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvklcxjlv kxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlc kxkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxkxjvklcxjlvk xcljvlckxjvklcxjlvk xcljvlckxk xcljvlckxjvklcxjlvk      xcljvlckxjvklcxjlvk"
        author="Nejaky raklek"
        position="CEO celeho sveta"
      />
    </div>
  </div>
</div>
