---
import type { TypographyProps } from './Typography.astro';
import Typography from './Typography.astro';

type Props = TypographyProps & {
  color: 'secondary' | 'primary';
};

const { color, ...props } = Astro.props;
---

<div
  class:list={[
    'before:-z-10 inline-block w-fit m-auto relative before:bg-gradient-to-r before:to-background before:w-full before:h-2 before:absolute before:bottom-0 before:left-0',
    { 'before:from-secondary': color === 'secondary' },
    { 'before:from-primary': color === 'primary' },
  ]}
>
  <Typography {...props}><slot /></Typography>
</div>
