---
import Layout from '../layouts/Layout.astro';
import IntroSection from '../components/sections/intro/IntroSection.astro';
import ExperienceSection from '../components/sections/experience/ExperienceSection.astro';
import { CORE_SKILLS, EXPERIENCES } from '../data/indexPageData';
import CoreSkillsSection from '../components/sections/coreSkills/CoreSkillsSection.astro';
---

<Layout title="Juraj Slavíček">
  <main class="size-full">
    <div class="px-4 py-8 md:px-8 lg:px-16 lg:py-24">
      <IntroSection />
    </div>
    <div class="px-4 py-8 md:px-8 lg:px-16 lg:py-24">
      <CoreSkillsSection data={CORE_SKILLS} />
    </div>
    <div class="px-4 py-8 md:px-8 lg:px-16 lg:py-24">
      <ExperienceSection data={EXPERIENCES} />
    </div>
  </main>
</Layout>

<style></style>
