---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="Juraj Slavíček">
	<main class="h-full w-full">
		<Intro/>
		
	</main>
</Layout>

<style>
	
</style>
