---
import Layout from '../layouts/Layout.astro';
import IntroSection from '../components/sections/intro/IntroSection.astro';
import ExperienceSection from '../components/sections/experience/ExperienceSection.astro';
import { CORE_SKILLS, EXPERIENCES } from '../data/indexPageData';
import CoreSkillsSection from '../components/sections/coreSkills/CoreSkillsSection.astro';
import SectionWrapper from '../components/sections/SectionWrapper.astro';
import FreelanceProjectsSection from '../components/sections/freelance/FreelanceProjectsSection.astro';
import TestimonialsAndContactSection from '../components/sections/testimonialsAndContact/TestimonialsAndContactSection.astro';
---

<Layout title="Juraj Slavíček">
  <main class="size-full">
    <SectionWrapper>
      <IntroSection />
    </SectionWrapper>
    <SectionWrapper>
      <CoreSkillsSection data={CORE_SKILLS} />
    </SectionWrapper>
    <SectionWrapper>
      <ExperienceSection data={EXPERIENCES} />
    </SectionWrapper>
    <!-- <SectionWrapper>
      <FreelanceProjectsSection />
    </SectionWrapper> -->
    <TestimonialsAndContactSection />
  </main>
</Layout>

<style></style>
