---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/IntroComponent.astro';
import ExperienceList from '../components/experience/ExperienceList.astro';
import { CORE_SKILLS, EXPERIENCES } from '../data/indexPageData';
import CoreSkills from '../components/coreSkills/CoreSkills.astro';
---

<Layout title="Juraj Slavíček">
  <main class="size-full">
    <div class="px-4 py-8 md:px-8 lg:px-16 lg:py-24">
      <Intro />
    </div>
    <div class="px-4 py-8 md:px-8 lg:px-16 lg:py-24">
      <CoreSkills data={CORE_SKILLS} />
    </div>
    <ExperienceList data={EXPERIENCES} />
  </main>
</Layout>

<style></style>
