---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/experience/Experience.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-full w-full">
		<Intro/>
		
	</main>
</Layout>

<style>
	
</style>
