---
import Layout from '../layouts/Layout.astro';
import { testimonialsData } from '../data/testimonialsData';
import Testimonial from '../components/sections/testimonialsAndContact/Testimonial.astro';
import TypographyUnderlined from '../components/typography/TypographyUnderlined.astro';
---

<Layout title="All Testimonials">
  <main class="mx-auto size-full max-w-screen-xl">
    <section class="flex flex-col gap-10 pb-20 pt-8 md:pt-16 lg:pt-24">
      <TypographyUnderlined color="primary" variant="h1" className="text-center">All Testimonials</TypographyUnderlined>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        {
          testimonialsData.map((testimonial, index) => (
            <div class={`w-full ${index % 2 === 0 ? 'bg-secondary' : 'bg-primary'} rounded-lg p-6 shadow-lg`}>
              <Testimonial text={testimonial.text} author={testimonial.author} position={testimonial.position} />
            </div>
          ))
        }
      </div>
      <div class="mt-8 text-center">
        <a href="/" class="text-primary hover:underline">Back to Home</a>
      </div>
    </section>
  </main>
</Layout>
