---
import Typography from '../../typography/Typography.astro';
---

<div class="bg-backgroundSecondary h-full p-4 md:p-8">
  <Typography variant="h2"> Available for select freelance opportunities </Typography>
</div>
