---
import TypographyUnderlined from '../../typography/TypographyUnderlined.astro';
import FreelanceProject from './FreelanceProject.astro';
---

<div class="flex flex-col gap-10">
  <TypographyUnderlined color="primary" variant="h1" className="text-center">Consulting</TypographyUnderlined>
  <div class="flex flex-col gap-5">
    <FreelanceProject />
    <FreelanceProject />
  </div>
</div>
