---
//@ts-ignore
import { Picture } from 'astro-imagetools/components';
const projectDreamJobs = 'src/images/projectDreamJobs.png';
---

<div class="flex w-full flex-col md:flex-row">
  <div class="w-full md:w-2/3">
    <Picture
      src={projectDreamJobs}
      alt="Ppp"
      layout="fullWidth"
      placeholder="blurred"
      attributes={{
        img: {
          class: 'rounded-lg',
        },
        picture: {
          class: 'rounded-lg',
        },
      }}
    />
  </div>
  <div class="flex w-full flex-col bg-backgroundSecondary md:w-1/3">
    <p>Name</p>
    <p>description</p>
    <p>Technology badges</p>
  </div>
</div>
