---
import { Image } from 'astro:assets';
import projectDreamJobs from '../../../images/projectDreamJobs.png';
---

<div class="flex w-full flex-col md:flex-row">
  <Image src={projectDreamJobs} alt="Ppp" class="w-full rounded-md md:w-2/3" />
  <div class="flex w-full flex-col bg-backgroundSecondary md:w-1/3">
    <p>Name</p>
    <p>description</p>
    <p>Technology badges</p>
  </div>
</div>
