---
import type { TExperience } from '../../types/TTypes';
import ExperienceElementHeader from './ExperienceElementHeader.astro';

type Props = {
  data: TExperience;
};

const { data } = Astro.props;
---

<li>
  <ExperienceElementHeader data={data} />
  <div class="py-4 px-4 lg:px-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae nunc ultricies fringilla. Nullam sit
    amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec
    nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies
    fringilla. Nullam sit amet nunc nec Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae
    nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies
    fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla.
    Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Donec nec odio vitae nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla.
    Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit
    amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae nunc ultricies fringilla. Nullam sit
    amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec
    nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies
    fringilla. Nullam sit amet nunc nec Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae
    nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies
    fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla.
    Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Donec nec odio vitae nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla.
    Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit
    amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae nunc ultricies fringilla. Nullam sit
    amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec
    nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies
    fringilla. Nullam sit amet nunc nec Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec odio vitae
    nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies
    fringilla. Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec nunc ultricies fringilla.
    Nullam sit amet nunc nec nunc ultricies fringilla. Nullam sit amet nunc nec
  </div>
</li>
