---
import { Image } from 'astro:assets';
import type { TCoreSkill } from '../../../types/TTypes';
import TypographyUnderlined from '../../typography/TypographyUnderlined.astro';
type Props = TCoreSkill;

const { name, description, image } = Astro.props;
---

<div class="border-2 px-6 py-10 lg:border-l-0 lg:border-r lg:first:border-l-2 lg:[&:nth-last-child(2)]:border-r-2">
  <div class="flex items-center gap-4">
    <Image src={image.data} alt={image.alt} width={48} height={48} class="" />
    <TypographyUnderlined color="secondary" variant="h3" className=" font-semibold">{name}</TypographyUnderlined>
  </div>
  <p class="mt-4 text-lg">{description}</p>
</div>
