---
import CoreSkill from './CoreSkill.astro';
import reactIcon from '../images/reactIcon.svg';
import type { TCoreSkill } from '../../../types/TTypes';
import Typography from '../../typography/Typography.astro';
import TypographyUnderlined from '../../typography/TypographyUnderlined.astro';

type Props = {
  data: TCoreSkill[];
};

const { data } = Astro.props;
---

<div class="flex flex-col gap-10">
  <TypographyUnderlined color="primary" variant="h1" className="text-center">Core skills</TypographyUnderlined>
  <div class="grid gap-4 sm:gap-0 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    {data.map((skill) => <CoreSkill name={skill.name} description={skill.description} image={skill.image} />)}

    <div class="hidden sm:block lg:hidden border-l-2">Something</div>
  </div>
</div>
